p {
    font-family: consolas, monospace, sans-serif;
    color: #074684;
    text-align: justify;
}

.header {
    margin: auto;
    width: 637px;
    display: flex;
}

#header_button {
    justify-content: space-between;
    margin-bottom: -46px;
}

#header_banniere {
    width: 797px;
    justify-content: center;
}

#header_title {
    margin-top: -46px;
    justify-content: flex-end;
}

.rang {
    display: flex;
    margin: auto;
    width: 637px;
    margin-top: -46px;
    justify-content: center;
}

#rang_2 {
    justify-content: flex-end;
}

#rang_3 {
    width: 797px;
    justify-content: flex-start;
}

article, nav {
    position: relative;
}

#article {
    position: relative;
}

img {
    z-index: 1;
    display: block;
}

img.filter:hover {
    z-index: 10;
}

img.superpose {
    z-index: 5;
    position: absolute;
    top: 0px;
    left: 0px;
}

img.tag {
    z-index: 10;
    position: absolute;
    top: 10px;
    left: 0px;
}

footer {
    width: 637px;
    margin: auto;
    display: flex;
    margin-top: -46px;
    justify-content: center;
}

/* CSS propre à la page Article */

img.cadre {
    position: absolute;
    left: 30px;
    top: 10px;
}

#article_titre {
    margin-top: 17px;
}

#article_nav {
    width: 797px;
    justify-content: space-between;
    margin-top: -47px;
}

#article_corps {
    margin-top: -48px;
}

#article_text {
    border-left: 2px solid #f2efb6;
    border-right: 2px solid #f2efb6;
    flex-direction: column;
    width: 599px;
    padding: 5px 17px 0px 17px;
    margin-top: -1px;
}

#article_about {
    margin-top: -47px;
    width: 795px;
    justify-content: flex-end;
}

#cadre_bas {
    margin-top: 0px;
}
